.navbar{

    height: 10vh;
    width: 100%;
    position: fixed;
    top: 0vh;
    z-index: 10;
    background-color: rgba(131, 139, 9, 0.973) !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.navbar h3{
    color: aliceblue;
}

.nav-options{
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.nav-options p{
    margin: 0;
    color: rgb(209, 210, 211);
    text-decoration: none;
    cursor: pointer;
}

.nav-options p:hover{
    color: aliceblue;
}